footer{
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;



    background-color:  var(--background-color);
    border-top: 2px solid rgb(78, 71, 71);
    padding: 1.5em;
}

footer>a, footer>p {
    padding: 5px;
    text-decoration: none;
    text-align: center;
    color: var( --text-color);
}

footer>p:first-child{
    font-weight: bold;
    font-size: x-large;
}