*{
    box-sizing: border-box;
    margin: 0;
    transition: ease-in-out 0.1s;
}

body{
    background-color: var(--background-color);
    color: var(--text-color);


}

.dark{
    transform: translateX(200%);
    transition: ease-in-out 0.5s;
}
.light{
    transform: translateX(0%);
    transition: ease-in-out 0.5s;
}



.fa-solid{
    color: var( --text-color);
    font-size: xx-large;
}

.btn, .form-getImage>input::file-selector-button, #downloadLink {
    background-color: var(--button-background);
    color: var( --button-color);
    border-radius: 7px;
    border: none;
    text-decoration: none; 
    font-size: large;
 
}

img {
    max-width: 150px;
}