main{
    display: flex;
    width: 100vw;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center; 
    margin-bottom: 15%;
  
 
}
main>h1{
    text-decoration: underline;
    font-size: xxx-large;
    padding-top: 20px;
}

main>p{
    width: 50%;
    font-size: large;
    font-weight: bold;
    text-align: center;
    margin-top: 100px;  
 
}
.bold{
    font-weight: bold;
    text-decoration: underline;
} 