main{
    display: flex;
    width: 100vw;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    margin-bottom: 15%;
  
 
}
main>h1{
    text-decoration: underline;
    font-size: xxx-large;
    padding-top: 20px;
    text-align: center;
}

main>p{
    width: 35%;
    font-size: large;
    font-weight: bold;
    text-align: center;
    margin-top: 100px; 
    text-justify: auto; 
 
}
.bold{
    color: red;
    font-weight: bolder;
    text-decoration: underline;
} 